.fondo {
  width: 100%;
  height: 350px;
  background-image: url(../assets/imgs/Header.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
}

hr {
  align-self: center;
  width: 75%;
}
